.Aligner {
	display: flex;
	align-items: center;
	min-height: 24em;
	justify-content: center;
}

.border-box {
	box-sizing: border-box;
	padding: 2%;

}
.Aligner-item--fixed {
	flex: none;
	max-width: 70%;
}
.Aligner-item {
	flex: 1;
}
.padding-left {
	padding-left: 1%
}

h1, p, .fa {
	color: #000000;
	padding-bottom: 1%;
}
